.page {
  --text-primary: var(--fg);
  --text-secondary: var(--fg1);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}
