
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--fg);
  background: var(--bg_s);
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 45rem;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  padding: .75rem 1.5rem;
  flex-direction: column;
  position: relative;

  /* @media (min-width: 600px) {
    padding: .75rem 3rem;
  } */
}

.page {
  --text-primary: var(--fg);
  --text-secondary: var(--fg1);

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  flex-direction: column;
}

main {
  > * {
    margin-bottom: 1rem;
  }

  ul, ol {
    margin-left: 1rem;
  }
}

.container {
  width: 100%;
  max-width: 35rem;
}

.dithered {
  mix-blend-mode: multiply;
  filter: opacity(0.7);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 1rem;
}

p {
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration-color: var(--purple);
  text-decoration-thickness: .1rem;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            color: var(--purple);
            text-decoration: none;
        }
    }
}

figure {
  margin: 1.5rem;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

code {
  background-color: var(--always-dark);
  padding: .5rem;
  border-radius: .5rem;
}

pre {
  background-color: var(--always-dark);
  display: block;
  padding: 1rem;
  border-radius: .5rem;

  code {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
  }
}

blockquote {
  padding: 0 1.5rem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: .75rem;
    border-left: 2px solid var(--fg3);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .dithered {
    mix-blend-mode: difference;
    filter: sepia(.8);
  }
}
