.breadcrumbs {
    padding: 1rem 0;
    color: var(--fg3);
    li {
        display: inline-block;
        margin-right: .25rem;
        position: relative;

        &::after {
            content: '>';
            margin-left: .25rem;
        }

        &:last-of-type {
            margin-right: 0;

            &::after {
                content: none;
            }
        }
    }
}