header {
    display: flex;
    justify-content: center;
    
    .wrapper {
        background-color: var(--bg_h);
        padding: 1rem 1.5rem;
    }

    .mark {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-decoration: none;
        z-index: 1;
        position: relative;
        color: var(--purple);

        &::before {
            content: '';
            height: .8em;
            top: .08em;
            background-color: var(--purple);
            width: .1em;
            position: absolute;
            right: .2em;
            transform: skewX(-25deg);
            z-index: -1;
            transition: width 200ms ease-in-out;
        }

        span {
            opacity: 0;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }
    }

    .main-nav {
        li {
            display: inline-block;
            margin-right: .5rem;
            position: relative;

            &::after {
                content: '|';
                margin-left: .5rem;
            }

            &:last-of-type {
                margin-right: 0;

                &::after {
                    content: none;
                }
            }
        }
    }
}

