.hero {
    background-color: var(--bg);
    width: 100%;
    max-width: 45rem;
    position: relative;
    height: 20rem;
    overflow: hidden;

    > img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        object-position: center;
    }
}