.hero {
    background-color: var(--bg);
    width: 100%;
    max-width: 45rem;
    overflow: hidden;
    height: 240px;

    > img {
        height: 100%;
        object-fit:cover;
        object-position: center;
    }
}